body {
  height: 3000px;
}

.container-1 {
  width: 200px;
  height: 100px;
  background-color: lightblue;

  position: relative;
  margin-bottom: 30px;
}

.close-div-1, .close-div-2 {
  font-family: Arial;
  font-size: 14px;

  width: 30px;
  height: 30px;
  color: white;
  background-color: black;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-div-1 {
  position: absolute;
  right: 10px;
  top: 10px;
}

.container-2 {
  width: 320px;
  height: 180px;

  background-color: lightpink;

  position: fixed;
  right: 10px;
  bottom: 10px;
}

.close-div-2 {
  position: absolute;
  left: -10px;
  top: -10px;
}

.time-div {
  font-size: 14px;
  font-family: Courier;

  padding: 3px 4px;

  background-color: black;
  color: white;
  position: absolute;

  right: 5px;
  bottom: 5px;
}

.container-3 {
  width: 250px;
  position: relative;
}

.shirt-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.discount-div {
  font-size: 12px;
  font-family: Arial;

  padding: 4px 8px;

  background-color: black;
  color: white;
  position: absolute;

  right: 0;
  top: 10px;
}

.add-to-cart-div {
  left: 0;
  right: 0;
  bottom: 0;
  height: 26%;

  position: absolute;

  background-color: rgba(255, 255, 255, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}

.add-to-cart-button {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}