body {
  height: 3000px;
}

.div-1 {
  background-color: black;
  color: white;

  position: fixed;
  bottom: 20px;
  right: 120px;
}

.sidebar {
  width: 100px;
  background-color: green;
  color: white;
  right: 0;
  top: 0;
  bottom: 0;
  
  position: fixed;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 30%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}