.subscribe-button {
  background-color: rgb(200, 0, 0);
  padding: 10px 16px;
  color: white;
  border-radius: 4px;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}

.subscribe-button:hover {
  opacity: 0.7;
}

.subscribe-button:active {
  opacity: 0.4;
}

.join-button {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid rgb(41, 118, 211);
  color: rgb(41, 118, 211);
  cursor: pointer;
  margin-left: 12px;
  margin-right: 12px;
  transition: background-color 0.15s, color 0.15s;
  box-shadow: 5px 5px 5px rgba(41, 118, 211, 0.6);
}

.join-button:hover {
  background-color: rgb(41, 118, 211);
  color: white;
}

.join-button:active {
  opacity: 0.7;
}

.tweet-button {
  background-color: rgb(2, 137, 255);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 0.85rem;
  cursor: pointer;
  transition: box-shadow 0.15s;
}

.tweet-button:hover {
  opacity: 0.7;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.tweet-button:active {
  opacity: 0.4;
}